<h2><%= Comment.human_attribute_name(:show) %></h2>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:name) %></th>
      <th><%= Comment.human_attribute_name(:content) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @comments.each do |comment| %>
      <% if comment.user.name.empty? %>
        <td> <%= comment.user.email %> </td>
      <% else %>
        <td> <%= comment.user.name %> </td>
      <% end %>
      <td><%= comment.comment_content %></td>
      <td><%= l comment.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
